.latestHeading {
  color: #4C5E70;
}
.previousWorkHeading {
  color: #DDE6EB;
}
.photographyHeading {
  color: #DDE6EB;
}
@media (min-width: 768px) {
  .photographyHeading {
    color: #636363;
  }
}
.contactHeading {
  color: #171517;
}

.latestBackgroundColor {
  background-color: rgba(255, 255, 255, 1);
}

.previousWorkBackgroundColor {
  background-color: rgba(85, 122, 155, 1);
}

.photographyBackgroundColor {
  background-color: rgba(23, 21, 23, 1);
}

.contactBackgroundColor {
  background-color: rgba(221, 230, 235, 1);
}

/* @media (min-width: 768px) { */
  .latestBackgroundColor,
  .previousWorkBackgroundColor,
  .photographyBackgroundColor,
  .contactBackgroundColor {
    background-color: transparent;
  }
/* } */

.layout4 {
  
}
@media (min-width: 768px) {
  .layout4 {
    grid-template-columns: repeat(12, 12fr);
  }
}

.body {
  grid-column: 1 / 1;
  grid-row: 2 / 3;
  font-size: 1.25em;
}
@media (min-width: 768px) {
  .body {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
  }  
}

.bodyRight {
  font-size: 1.25em;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
@media (min-width: 768px) {
  .bodyRight {
    grid-column: 2 / 3;
    grid-row: 1 / 2;  
  }  
}


.lightText {
  color: #ffffff;
}

.leftFeature {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

@media (min-width: 768px) {
  .leftFeature {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-top: -4.5em;
  }
}

.leftFeature4x4 {
  display: grid;
  grid-template-columns: repeat(8, 8fr);
  grid-template-rows: min-content min-content;
  column-gap: 1em;
  row-gap: 1em;
}

.featureHeading {
  color: white;
  font-family: Heebo, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  padding: 1em 2em 0em 2em;
  margin: 1em 0;
}

.featureBlurb {
  color: white;
  padding: 0 3em 0 3em;
}

.featureHiddenUntilHover {
  white-space: normal;
  position: relative;
  z-index: 2;
}

.feature4x4 {
  box-shadow: 0 0 20px rgba(0,0,0,0.16);
  position: relative;
}

.leftFeature4x4Feature0 {
  composes: feature4x4;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}
.leftFeature4x4Feature1 {
  composes: feature4x4;
  grid-column: 5 / 9;
  grid-row: 1 / 2;
}
.leftFeature4x4Feature2 {
  composes: feature4x4;
  grid-column: 1 / 5;
  grid-row: 2 / 3;
}
.leftFeature4x4Feature3 {
  composes: feature4x4;
  grid-column: 5 / 9;
  grid-row: 2 / 3;
}

.latestFeaturedImage {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  box-shadow: 0 0 40px rgba(0,0,0,0.16);
}

@media (min-width: 768px) {
  .latestFeaturedImage {
    margin-top: -4.5em;
    grid-column: 2 / 3;
    grid-row: 1 / 2;  
  }
}

@media (min-width: 768px) {
  .contactSection {
    grid-column-start: span 3;
    grid-row: 1 / 2;
  }
}


.buttonLink {
  text-decoration: none;
  display: block;
  font-size: 1em;
  min-width: 10em;
  padding: 1em 3em 1em 1em;
  border-radius: 0.25em;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.16);
  white-space: nowrap;
  transition: border 200ms ease-in-out,
    background-color 200ms ease-in-out,
    color 200ms ease-in-out;
  margin: 1em 0;
}

.buttonLinkDark {
  background-color: #557A9B;
  border: 1px solid #557A9B;
  color: white;
}
.buttonLinkLight {
  background-color: #DDE6EB;
  border: 1px solid #DDE6EB;
  color: black;
}
.buttonLinkDark:not(.buttonLinkDisabled):hover {
  background-color: #171517;
  border: 1px solid #171517;
  color: white;
}
.buttonLinkLight:not(.buttonLinkDisabled):hover {
  background-color: #171517;
  border: 1px solid #171517;
  color: white;

}
.buttonLinkSecondaryLight {
border: 1px solid #DDE6EB;
color: white;
}
.buttonLinkSecondaryDark {
  border: 1px solid #171517;
  color: black;
}
.buttonLinkSecondaryDark:not(.buttonLinkDisabled):hover {
  background-color: #171517;
  border: 1px solid #171517;
  color: white;
}
.buttonLinkSecondaryLight:not(.buttonLinkDisabled):hover {
  background-color: #171517;
  border: 1px solid #171517;
  color: white;
}

.featureUrl {
  padding: 1em 2em;
  margin: 1em 1em 1em 3em;
  display: inline-block;
}

.featureGallery {
  overflow-x: scroll;
  margin: 0 -2em 0 -2em;
}

@media (min-width: 768px) {
  .featureGallery {
    margin-top: -5em;
    scroll-snap-type: x proximity;
  }
}

.featureGalleryRails {
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;
  white-space: nowrap;
  float: left;
  clear: left;
}

.galleryItem {
  display: inline-block;
  position: relative;
  margin: 0 1em;
  scroll-snap-align: center;
}

.galleryItem:first-of-type {
  margin: 0 1em 0 2em;
}
.galleryItem:last-of-type {
  margin: 0 2em 0 1em;
}

.galleryItemContainer{
  height: calc(100vh-18em);
  display: inline-block;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.16);
}