.pageContainer {
  width: 100vw;
}

@media (min-width: 768px) {
  .pageContainer {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: y mandatory;
  }
}