.pageBackgrounds {
  padding: 0;
  margin: 0;
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-width: 768px) {
  .pageBackgrounds {
    display: block;
  }
}

.pageBackground {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

@media (min-width: 768px) {
  .pageBackground {
    transition: none;
  }
}

.landing {
  composes: pageBackground;
  background-image: url(/img/landing-hero.jpg);
  background-size: cover;
  opacity: 1;
}

.landing::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(21, 23, 23, 0.45);
}

.latestBackgroundColor {
  background-color: rgba(255, 255, 255, 1);
}

.latest {
  composes: pageBackground latestBackgroundColor;
}

.previousWorkBackgroundColor {
  background-color: rgba(85, 122, 155, 1);
}

.previousWork {
  composes: pageBackground previousWorkBackgroundColor;
}

.photographyBackgroundColor {
  background-color: rgba(23, 21, 23, 1);
}

.photography {
  composes: pageBackground photographyBackgroundColor;
}

.contactBackgroundColor {
  background-color: rgba(221, 230, 235, 1);
}
.contact {
  composes: pageBackground contactBackgroundColor;
}