@import "~bulma/sass/utilities/initial-variables"

// Config vars
// Kaldi logo brand color: #FD461E
$kaldi-red: #D64000
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert
$body-color: #333
$black: #2b2523

html
  min-height: 100vh
  overflow: hidden;

body
  padding: 0
  margin: 0
  width: 100vw
  min-height: 100vh
  font-size: 12px
  min-height: 100vh
  font-family: Martel, sans-serif
