.PageLayout {
  height: calc(100vh - 2em);
  padding: 0 5em;
  z-index: 1;
  display: grid;
  column-gap: 1em;
  max-width: 91.25em;
  margin: 0 auto 2em auto;
  grid-template-columns: repeat(12, 12fr);
  grid-template-rows: min-content calc(100vh - 19.5em);
  scroll-snap-align: start;
}

.pageHeading {
  font-family: Heebo, sans-serif;
  font-weight: 900;
  font-size: 10em;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  overflow-x: visible;
  white-space: nowrap;
  margin: 0.75em 0 0 0;
  line-height: 1;
}

.pageLayoutMain {
  max-height: calc(100vh - 17.5em);
  
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(12, 12fr);
  column-gap: 2em;
}