.PageLayout {
  padding: 0 2em 4em 2em;
  z-index: 1;
  display: grid;
  column-gap: 1em;
  max-width: 91.25em;
  margin: 0 auto;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: min-content auto;
  scroll-snap-align: start;
  scroll-margin-top: 1em;
}

@media (min-width: 768px) {
  .PageLayout {
    padding: 0 5em;
    min-height: calc(100vh - 2em);
    grid-template-rows: min-content auto;
    scroll-margin-top: 0;
  }
}

.pageHeading {
  font-family: Heebo, sans-serif;
  font-weight: 900;
  font-size: 5em;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  overflow-x: visible;
  white-space: nowrap;
  margin: 0.75em 0 0 0;
  line-height: 1;
}

@media (min-width: 768px) {
  .pageHeading {
    font-size: 10em;
  }
}

.pageLayoutMain {
  display: grid;
  grid-column: 1 / 3;
  column-gap: 2em;
}

@media (min-width: 768px) {
  .pageLayoutMain {
    /* max-height: calc(100vh - 17.5em); */
    grid-template-columns: 1fr 1fr;
  }
}
