.LayoutLeft {
  composes: PageLayout from '../layouts.module.css';
  max-width: 109.25em;
}

.header {
  grid-column: 1 / 13;
}

.main {
  composes: pageLayoutMain from '../layouts.module.css';
}

.heading {
  composes: pageHeading from '../layouts.module.css';
}