.LayoutLanding {
  composes: PageLayout from '../layouts.module.css';
  min-height: 100vh;
}

.heroText {
  grid-column: 1 / 11;
  font-family: Heebo, sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  color: white;
  margin-top: 5em;
  letter-spacing: -0.02em;
  font-weight: 600;
  text-shadow: 1px 1px 6px rgba(0,0,0,0.45);
  line-height: 1.375;
  position: fixed;
}